/* CSS declarations go here */
html{
  height: 100%;
}

body{
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff 100%);
  background-attachment: scroll;
  background-size: cover;
  -moz-background-size: cover;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  padding-bottom: 1.5cm;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
}

.preference-container{
    max-width: 600px;
    margin: 0 auto;
    display: inline;
    vertical-align: top;
    font: normal 14px sans-serif;
    color: #5f5f5f;
}

header {
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

strong{
  font-size: 0.8em;
}

.search-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1.3em;
}

.search-task input:focus{
  outline: 0;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

ul .text {
  font-size: 1.2em;
  margin-left: 222px;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 30px;
  font-size: 1.3em;
}

li .sub {
  padding: 30px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .search input {
    font-size: 1.5em;
    padding-bottom: 5px;
  }
}
